body {
  background-color: #ebd5d5;
  font-family: "Ubuntu", sans-serif;
}
h1 {
  color: #685454;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
.container {
  width: 600px;
  background-color: whitesmoke;
  display: block;
  margin: 0 auto;
  border-radius: 15px;
  padding: 10px;
  font-family: "Ubuntu", sans-serif;
}
#cities {
  width: 500px;
  height: 50px;
  background-color: #f2f2f2;
  display: block;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  font-family: "Ubuntu", sans-serif;
}
#cityOne {
  width: 500px;
  max-height: 150px;
  background-color: #f2f2f2;
  display: block;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  font-family: "Ubuntu", sans-serif;
}
.city-one-details {
  display: flex;
  justify-content: space-between;
  font-family: "Ubuntu", sans-serif;
}
#cityTwo {
  width: 500px;
  max-height: 150px;
  background-color: #f2f2f2;
  display: block;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  border-radius: 15px;
  font-family: "Ubuntu", sans-serif;
}
.city-two-details {
  display: flex;
  justify-content: space-between;
}
#cityThree {
  width: 500px;
  max-height: 150px;
  background-color: #f2f2f2;
  display: block;
  margin: 0 auto;
  padding: 0px 10px 0px 10px;
  margin-bottom: 10px;
  border-radius: 15px;
  font-family: "Ubuntu", sans-serif;
}
.city-three-details {
  display: flex;
  justify-content: space-between;
}
footer {
  padding: 10px;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}
